*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:root {
    --primary:#2c3e50;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --ba-ddd: #80c2d0;
    --bs-black:#0f0f0f;
    --bs-orangered :orangered;
    --bs-dark-rgba:rgba(10, 10, 10, 0.801);
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }
 .text-orange{
    color: var(--bs-orangered);
 }
.bg-black{
    background-color: var(--bs-black);
}
.bg-dark-50{
   background-color: var(--bs-dark-rgba);
}
 .header-img{
    position: relative;
    background: no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
 }
 .header-img>div{
    background-color: #00000052;
 }
 .page-header{
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .header-font{
    font-weight: bolder;
    font-size: 3.5rem;
 }
 .nav-color{
    background-color: rgba(10, 10, 10, 0.801);
    color: white;
    margin-top: 10px;
    border-radius: 30px 30px 30px 30px;
 }
 .card-img{
    width: auto;
    height: 250px;
    object-fit: cover;

 }
 .card-ani{
    transition: all .5s;
 }
 .card-ani:hover{
    transform: scale(0.99);
 }
 .section-fixed{
   min-width: 100%;
   min-height: 40vh;
   margin-top: 6rem;
 }

 .footer{
    min-height: 200px;
    border-radius: 20% 25% 0 0;
    padding:10px 0 0 0;
    margin-top: 100px;
 }
 @media only screen and (min-width:768px) and (max-width: 991px){
    .footer{
        min-height: 200px;
        border-radius: 10% 13% 0 0;
        padding:10px 0 0 0;
        margin-top: 100px;
     }
 }
@media only screen and (max-width: 767px){
    .footer{
        min-height: 200px;
        border-radius: 7% 10% 0 0;
        padding:10px 0 10px 0;
        margin-top: 100px;
     }
     .navbar{
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
     }
}